In [6]:
# import basic modules
import numpy as np
import pandas as pd

# fuzzywuzzy module for text processing
import fuzzywuzzy
from fuzzywuzzy import process
import charset_normalizer

# or jellyfish module
import jellyfish

### Import the data

In [164]:
# read the data from url

url = "https://storage.googleapis.com/kagglesdsdata/datasets/819513/1402182/pakistan_intellectual_capital.csv?X-Goog-Algorithm=GOOG4-RSA-SHA256&X-Goog-Credential=gcp-kaggle-com%40kaggle-161607.iam.gserviceaccount.com%2F20240422%2Fauto%2Fstorage%2Fgoog4_request&X-Goog-Date=20240422T081810Z&X-Goog-Expires=259200&X-Goog-SignedHeaders=host&X-Goog-Signature=7908b20e129f445b1d707d1eb4d52c4c3f2b8abbe431d968495d2aa6e5a333397790d83090abe72f45682deba3879d0db77580f807199206aae30fb77d7353c3bb4e223610d0ce34283d1096ff36d441dbfd266193a27b45d6b649b588bf07c398940205218d0d4b4a0f53f77818c7e2480c1477eadc24ffb58b16d4fd2a7617e24966e7cf1f27a3cac1161e293f08f3e40ffce79c15db5366f942e1cf89bb34653015f85102acc767025829430d7b8a987ee6d061bd3b95d5a89d4cc72aeca495c47775f49e2db0e5907ab15edac05e8658fd5e1a8779465094586bb81733a8cbcdaca8e40bc9afa578767367f4bf10a69583e5699c1a54b6ab8176aec1cd75"
professors = pd.read_csv(url)

In [165]:
# look at the table
professors

,Unnamed: 0,S#,Teacher Name,University Currently Teaching,Department,Province University Located,Designation,Terminal Degree,Graduated from,Country,Year,Area of Specialization/Research Interests,Other Information
0,2,3,Dr. Abdul Basit,University of Balochistan,Computer Science & IT,Balochistan,Assistant Professor,PhD,Asian Institute of Technology,Thailand,NaN,Software Engineering & DBMS,NaN
1,4,5,Dr. Waheed Noor,University of Balochistan,Computer Science & IT,Balochistan,Assistant Professor,PhD,Asian Institute of Technology,Thailand,NaN,DBMS,NaN
2,5,6,Dr. Junaid Baber,University of Balochistan,Computer Science & IT,Balochistan,Assistant Professor,PhD,Asian Institute of Technology,Thailand,NaN,"Information processing, Multimedia mining",NaN
3,6,7,Dr. Maheen Bakhtyar,University of Balochistan,Computer Science & IT,Balochistan,Assistant Professor,PhD,Asian Institute of Technology,Thailand,NaN,"NLP, Information Retrieval, Question Answering...",NaN
4,24,25,Samina Azim,Sardar Bahadur Khan Women's University,Computer Science,Balochistan,Lecturer,BS,Balochistan University of Information Technolo...,Pakistan,2005.0,VLSI Electronics DLD Database,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1137,1974,1975,Dr. Ahmar Rashid,Ghulam Ishaq Khan Institute,Computer Science and Engineering,KPK,Associate Professor,PhD,JNU,South Korea,NaN,"Electrical Impedance Tomography, Inverse algor...",NaN
1138,1975,1976,Dr. Fawad Hussain,Ghulam Ishaq Khan Institute,Computer Science and Engineering,KPK,Associate Professor,PhD,Grenoble,France,NaN,"Machine Learning, Big Data Anaysis, Data Minin...",NaN
1139,1977,1978,Dr. Rashad M Jillani,Ghulam Ishaq Khan Institute,Computer Science and Engineering,KPK,Assistant Professor,PhD,Florida Atlantic University,USA,2012.0,"Digital Multimedia Systems, Video Compression ...",NaN
1140,1979,1980,Dr. Shahabuddin Ansari,Ghulam Ishaq Khan Institute,Computer Science and Engineering,KPK,Assistant Professor,PhD,Ghulam Ishaq Khan Institute of Science and Tec...,Pakistan,NaN,"Medical Image Processing and Analysis, Digital...",NaN
1141,1980,1981,Dr. Sajid Anwar,Ghulam Ishaq Khan Institute,Computer Science and Engineering,KPK,Assistant Professor,PhD,Seoul National University,South Korea,NaN,"Pruning and Quantizing CNN, GPGPU,",NaN

### Do some text pre-processing:

In [166]:
# get all the unique values in the 'Country' column
countries = professors['Country'].unique()

# sort them alphabetically and then take a closer look
countries.sort()
countries

array([' Germany', ' New Zealand', ' Sweden', ' USA', 'Australia',
       'Austria', 'Canada', 'China', 'Finland', 'France', 'Greece',
       'HongKong', 'Ireland', 'Italy', 'Japan', 'Macau', 'Malaysia',
       'Mauritius', 'Netherland', 'New Zealand', 'Norway', 'Pakistan',
       'Portugal', 'Russian Federation', 'Saudi Arabia', 'Scotland',
       'Singapore', 'South Korea', 'SouthKorea', 'Spain', 'Sweden',
       'Thailand', 'Turkey', 'UK', 'USA', 'USofA', 'Urbana', 'germany'],
      dtype=object)

Just looking at this, we can see some problems due to inconsistent data entry: ' Germany', and 'germany', for example, or ' New Zealand' and 'New Zealand'.

The first thing to repair this errors: 
- make everything lower case
- remove any white spaces at the beginning and end of cells. 

Inconsistencies in capitalizations and trailing white spaces are very common in text data and you can fix a good 80% of your text data entry inconsistencies by doing this.

In [167]:
# convert to lower case
professors['Country'] = professors['Country'].str.lower()
# remove trailing white spaces
professors['Country'] = professors['Country'].str.strip()

### Use more advanced methods to correct inconsistent text data

In [168]:
# get all the unique values in the 'Country' column
countries = professors['Country'].unique()

# sort them alphabetically and then take a closer look
countries.sort()
countries

array(['australia', 'austria', 'canada', 'china', 'finland', 'france',
       'germany', 'greece', 'hongkong', 'ireland', 'italy', 'japan',
       'macau', 'malaysia', 'mauritius', 'netherland', 'new zealand',
       'norway', 'pakistan', 'portugal', 'russian federation',
       'saudi arabia', 'scotland', 'singapore', 'south korea',
       'southkorea', 'spain', 'sweden', 'thailand', 'turkey', 'uk',
       'urbana', 'usa', 'usofa'], dtype=object)

It does look like there is another inconsistency: 'southkorea' and 'south korea' should be the same.

We can use two packages to help identify which strings are closest to each other. This is the fuzzywuzzy and the jellyfish libraries.

This dataset is small enough that we could probably could correct errors by hand, but that approach doesn't scale well. (Would you want to correct a thousand errors by hand? What about ten thousand? Automating things as early as possible is generally a good idea.)

The idea of these libraries:

- Fuzzy matching: The process of automatically finding text strings that are very similar to the target string. In general, a string is considered "closer" to another one the fewer characters you'd need to change if you were transforming one string into another. So "apple" and "snapple" are two changes away from each other (add "s" and "n") while "in" and "on" and one change away (rplace "i" with "o"). You won't always be able to rely on fuzzy matching 100%, but it will usually end up saving you at least a little time.
Fuzzywuzzy returns a ratio given two strings. The closer the ratio is to 100, the smaller the edit distance between the two strings. Here, we're going to get the ten strings from our list of cities that have the closest distance to "south korea".

- Jaro distance: In computer science and statistics, the Jaroâ€“Winkler similarity is a string metric measuring an edit distance between two sequences. The higher the Jaroâ€“Winkler distance for two strings is, the less similar the strings are. The score is normalized such that 0 means an exact match and 1 means there is no similarity. The original paper actually defined the metric in terms of similarity, so the distance is defined as the inversion of that value (distance = 1 âˆ’ similarity).

#### Fuzzy matching

In [145]:
# first, use the fuzzy matching:
# get the top 10 closest matches to "south korea"
matches = fuzzywuzzy.process.extract("south korea", countries, limit=10, scorer=fuzzywuzzy.fuzz.token_sort_ratio)

# check the results
matches

[('south korea', 100),
 ('southkorea', 48),
 ('saudi arabia', 43),
 ('norway', 35),
 ('ireland', 33),
 ('portugal', 32),
 ('singapore', 30),
 ('netherland', 29),
 ('macau', 25),
 ('usofa', 25)]

#### Jaro distance

In [109]:
# then, use the jaro distance method:
# lets check the similarity between texts manually for the first time
jellyfish.jaro_similarity('south korea', 'southkorea')

0.9696969696969697

We can see the result is a much bigger number than it was in the fuzzy matching

In [154]:
# lets make a function that iterate through a list of text to make it faster
def jelly_sim_fun(ref_str, list_str):
    sim = []
    for x in list_str:
        sim.append(jellyfish.jaro_similarity(ref_str, x))
    return pd.concat([pd.Series(sim), pd.Series(list_str)], axis=1, ignore_index=True).rename(columns={0:'similarity',1:'names'})

In [155]:
# lets see the more similar texts according to jaro distances
jelly_sim_fun(ref_str= 'south korea', list_str= countries).sort_values(by='similarity', ascending=False)[:10]

    similarity         names
24    1.000000   south korea
25    0.969697    southkorea
1     0.656277       austria
0     0.603367     australia
23    0.602694     singapore
15    0.587879    netherland
21    0.557071  saudi arabia
22    0.549242      scotland
8     0.537879      hongkong
19    0.537879      portugal

- the result is clearer than in the previous case, with a larger difference between the results

### Correct the inconsistent texts

We can see that two of the items in the cities are very close to "south korea": "south korea" and "southkorea". 

Let's replace all rows in our "Country" column that have a ratio of > 0.9 with "south korea", so now we will use the jaro distance method.

In [169]:
# function to replace rows in the provided column of the provided dataframe
# that match the provided string above the provided ratio with the provided string
def replace_matches_in_column(df, column, string_to_match, min_ratio = 0.9):
    # get a list of unique strings
    strings = df[column].unique()
    
    matches = jelly_sim_fun(ref_str= string_to_match, list_str= strings).values.tolist()

    # only get matches with a ratio > 0.9
    close_matches = [matches[1] for matches in matches if matches[0] >= min_ratio]

    # get the rows of all the close matches in our dataframe
    rows_with_matches = df[column].isin(close_matches)

    # replace all rows with close matches with the input matches 
    df.loc[rows_with_matches, column] = string_to_match

In [170]:
# use the function we just wrote to replace close matches to "south korea" with "south korea"
replace_matches_in_column(df=professors, column='Country', string_to_match="south korea")

In [171]:
# Check the results

# get all the unique values in the 'Country' column
countries = professors['Country'].unique()

# sort them alphabetically and then take a closer look
countries.sort()
countries

array(['australia', 'austria', 'canada', 'china', 'finland', 'france',
       'germany', 'greece', 'hongkong', 'ireland', 'italy', 'japan',
       'macau', 'malaysia', 'mauritius', 'netherland', 'new zealand',
       'norway', 'pakistan', 'portugal', 'russian federation',
       'saudi arabia', 'scotland', 'singapore', 'south korea', 'spain',
       'sweden', 'thailand', 'turkey', 'uk', 'urbana', 'usa', 'usofa'],
      dtype=object)